name: C++ CI
on:
  push:
    branches: [ "2.x" ]
    paths-ignore:
      - 'README.md'
      - 'docs/**'
env:
  BUILD_TYPE: Release

jobs:
  build-and-test-gcc:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: |
        sudo apt-get update && sudo apt-get install -y cmake ninja-build gcc-14 g++-14
    - name: gcc-14-release
      run: cmake --workflow --preset="ci-gcc-14-release"

  build-and-test-clang:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v3
    - name: Add LLVM Repository
      run: |
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh 18
        
    - name: Install dependencies
      run: |
           sudo apt-get update
           sudo apt-get install -y cmake g++-14 ninja-build clang-18 libfmt-dev libc++-18-dev libc++abi-18-dev

    - name: clang-18-release
      run: cmake --workflow --preset="ci-clang-18-release"
    - name: clang-18-libc++-release
      run: cmake --workflow --preset="ci-clang-18-libc++-release"
